@charset "utf-8";

*{font-size: 14px;font-family: 'Open Sans','Noto Sans KR', sans-serif;font-weight:bold; box-sizing:border-box;letter-spacing:-0.4px;}
html,body,div,header,footer,img,a,p,span,nav,ul,li,h1,h5,button{margin:0;padding:0;}



ul{list-style:none;}
a{display:block;text-decoration:none;}




/*컨텐츠영역*/
#content_wrap{width:100%;border-top: 4px solid #cdced2;box-sizing: border-box;}

#content_wrap #content_title{width:100%;height:145px;position:relative;}
#content_wrap #content_title span{border-top: 4px solid #221f1f;display:block;box-sizing: border-box;width:165px;height:120px;position:absolute;text-transform:uppercase;line-height:130px;font-size:55px;font-weight:900;top:-4px;}


#content_wrap #content_body{overflow:hidden;width:100%;height:100%;box-sizing:border-box;}
#content_wrap #content_body .content_content{width:33.33332%;height:495px;position:relative;float:left;box-sizing:border-box;border:1px solid #d9d9d9;border-left:none;}
#content_wrap #content_body .content_content:nth-child(3n-2){border-left:1px solid #d9d9d9;}
#content_wrap #content_body .content_content:nth-child(1){border-bottom:none;}
#content_wrap #content_body .content_content:nth-child(2){border-bottom:none;}

.content_content a{width:100%;height:100%;}
.content_content .content_content_top{width:100%;height:312px;}
.content_content:nth-child(1) .content_content_top{background:url(../img/blog/blog_01.jpg)no-repeat center center;background-size:cover;}
.content_content:nth-child(2) .content_content_top{background:url(../img/blog/blog_02.jpg)no-repeat center center;background-size:cover;}
.content_content:nth-child(3) .content_content_top{background:url(../img/blog/blog_03.jpg)no-repeat center center;background-size:cover;}
.content_content:nth-child(4) .content_content_top{background:url(../img/blog/blog_04.jpg)no-repeat center center;background-size:cover;}
.content_content:nth-child(5) .content_content_top{background:url(../img/blog/blog_05.jpg)no-repeat center center;background-size:cover;}

.content_content .content_content_bottom{width:100%;height:182px;padding:32px 42px;box-sizing:border-box;}
.content_content .content_content_bottom .content_content_bottom_inbox{width:100%;height:100%;box-sizing:border-box;color:#000;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.content_content .content_content_bottom .content_content_bottom_inbox p{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;word-wrap: break-word;}
.content_content .content_content_bottom .content_content_bottom_inbox > p:nth-child(1){font-weight:500;box-sizing:border-box;width:100%;height:50px;line-height:25px;font-size:16px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}   
.content_content .content_content_bottom .content_content_bottom_inbox > p:nth-child(2){display:inline-block;box-sizing:border-box;width:100%;height:30px;font-weight:100;line-height:30px;}
.content_content .content_content_bottom .content_content_bottom_inbox > p:nth-child(3){box-sizing:border-box;font-size:14px;width:100%;text-align:right;line-height:30px;background:url(../img/arrow_btn.svg) no-repeat right;float:right;}
.content_content .content_content_bottom .content_content_bottom_inbox > p:nth-child(3) span{margin-right:30px;}


@media only screen and (max-width : 640px){


	#content_wrap{height:auto;padding:30px 20px 0px;border:none;}
	#content_wrap #content_title{width:100%;height:44px;line-height:40px;}
	#content_wrap #content_title span{border-top: 2px solid #221f1f;width:auto;height:44px;line-height:40px;font-size:14px;}

	#content_wrap #content_body{width:100%;height:100%;border-left:none;margin-top:30px;}
	#content_wrap #content_body .content_content{height:380px;width:100%;border-left:1px solid #d9d9d9;}
	#content_body .content_content .content_content_top{height:230px;}
	#content_body .content_content .content_content_bottom{height:150px;padding:25px 20px;}
	.content_content .content_content_bottom .content_content_bottom_inbox{height:100px;}
	.content_content .content_content_bottom .content_content_bottom_inbox > p:nth-child(1){height:40px;line-height:20px;font-size:14px;font-weight:100;}   
	.content_content .content_content_bottom .content_content_bottom_inbox > p:nth-child(2){font-size:12px;}
	.content_content .content_content_bottom .content_content_bottom_inbox > p:nth-child(3) span{font-size:12px;}

	
}

@media (min-width : 641px) and (max-width : 1200px){
	
		

	#content_wrap{padding:55px 20px 0;border-top:none;}
	#content_wrap #content_title{height:35px;font-size:16px;}
	#content_wrap #content_title span{width:auto;border-top:2px solid #221f1f;height:44px;line-height:40px;font-size:28px;}


	#content_wrap #content_body{width:100%;height:100%;margin-top:40px;border-left:1px solid #d9d9d9;box-sizing:border-box;word-wrap:break-word;letter-spacing:-0.5px;}
	#content_wrap #content_body .content_content{height:420px;}
	#content_body .content_content .content_content_top{height:235px;background-size:cover;}
	#content_body .content_content .content_content_bottom{height:182px;padding:25px 20px;overflow:hidden;text-overflow:ellipsis;}
	.content_content .content_content_bottom .content_content_bottom_inbox {position:relative;}	
	.content_content .content_content_bottom .content_content_bottom_inbox > p:nth-child(1){height:50px;line-height:25px;}   
	.content_content .content_content_bottom .content_content_bottom_inbox > p:nth-child(2){line-height:30px;height:30px;font-size:14px;}
	.content_content .content_content_bottom .content_content_bottom_inbox > p:nth-child(3){position:absolute;bottom:0;height:35px;line-height:35px;font-size:12px;}



}

