@charset "utf-8";

*{font-size: 14px;font-family: 'Open Sans','Noto Sans KR', sans-serif;font-weight:bold; box-sizing:border-box;letter-spacing:-0.4px;}
html,body,div,header,footer,img,a,p,span,nav,ul,li,h1,h5,button{margin:0;padding:0;}



ul{list-style:none;}
a{display:block;text-decoration:none;}




/*컨텐츠영역*/
#content_wrap{width:100%;height:auto;border-top: 4px solid #cdced2;position:relative;border-collapse:collapse;}
#content_wrap #content_title{width:100%;padding:55px 0;border-bottom:1px solid #d9d9d9;text-align:center;}
#content_wrap #content_title .news{width:100%;height:50px;line-height:50px;color:#17b5c3;}
#content_wrap #content_title .news_title{width:100%;height:100px;line-height:50px;font-size:34px;color:#221f1f;}
#content_wrap #content_title .news_date{width:100%;height:50px;line-height:50px;font-size:14px;color:#666;font-weight:normal;}
#content_wrap #content_title .news_sns{width:153px;height:45px;text-align:center;margin:5px auto;}
#content_wrap #content_title .news_sns a{transition:all 0.2s ease-in-out;-webkit-transition:all 0.1s ease-in-out;width:45px;height:45px;margin:0 3px;border:1px solid #000;border-radius:100%;text-indent:-9999px;float:left;}
#content_wrap #content_title .news_sns a:nth-child(1){background:url(../img/news/facebook.svg)no-repeat center;}
#content_wrap #content_title .news_sns a:nth-child(1):hover{background:url(../img/news/w_facebook.svg)no-repeat center;background-color:#000;}
#content_wrap #content_title .news_sns a:nth-child(2){background:url(../img/news/naverblog.svg)no-repeat center;}
#content_wrap #content_title .news_sns a:nth-child(2):hover{background:url(../img/news/w_naverblog.svg)no-repeat center;background-color:#000;}
#content_wrap #content_title .news_sns a:nth-child(3){background:url(../img/news/link2.svg)no-repeat center;}
#content_wrap #content_title .news_sns a:nth-child(3):hover{background:url(../img/news/w_link.svg)no-repeat center;background-color:#000;}

#content_body{width:100%;height:100%;box-sizing:border-box;}
#content_body #content_container{margin-top:60px;padding-bottom:60px;text-align:center;font-weight:normal;}
#content_body #content_container #text_top{width:100%;height:auto;font-weight:normal;}
#content_body #content_container #text_img{width:694px;height:auto;text-align:center;margin:0 auto;}
#content_body #content_container #text_img img{width:100%;max-width:100%;height:auto;text-align:center;}
#content_body #content_container #text_bottom{width:100%;height:auto;font-weight:normal;}
#content_body #content_container #text_bottom p{width:100%;height:20px;float:left;font-weight:normal;}
#content_body #content_container #text_bottom p a{display:inline-block;height:20px;}
#content_body #content_container #text_bottom p span{width:100%;height:100%;font-weight:normal;color:rgb(54, 88, 153);height:20px;font-size:12px;}
#content_body #content_container #text_bottom p img{width:16px;height:16px;vertical-align:-4px;margin:0 2px;}
#content_body #container_bottom2 {width:100%;height:100%;padding-top:30px;display:inline-block;border-top:1px solid #000;}
#content_body #container_bottom2 a:first-child{transition:all 0.1s ease-in-out;-webkit-transition:all 0.1s ease-in-out;line-height:43px;width:161px;height:43px;border:1px solid #000;float:left;text-align:center;color:#000;}
#content_body #container_bottom2 a:last-child{transition:all 0.1s ease-in-out;-webkit-transition:all 0.1s ease-in-out;width:43px;height:43px;border:1px solid #000;float:right;background:url(../img/arrow_top.svg)no-repeat center;}
#content_body #container_bottom2 a:first-child:hover{color:#fff;background:#17b5c3;border:1px solid #17b5c3;}
#content_body #container_bottom2 a:last-child:hover {color:#fff;border:1px solid #17b5c3;background:url(../img/w_arrow_top.svg)no-repeat center;background-color:#17b5c3;}




@media only screen and (max-width : 640px){
	#content_wrap{padding:30px 20px 0;width:100%;height:100%;border-top:none;}
	#content_wrap #content_title{padding:30px 0;border-top:2px solid #cdced2;}
	#content_wrap #content_title .news_title{height:50px;font-size:16px;line-height:25px;}
	#content_wrap #content_title .news_sns{width:125px;}
	#content_wrap #content_title .news_sns a{transition:all 0.2s ease-in-out;-webkit-transition:all 0.1s ease-in-out;width:35px;height:35px;margin:0 3px;border:1px solid #000;border-radius:100%;text-indent:-9999px;float:left;}
		
	#content_body{margin-top:0;box-sizing:border-box;word-wrap:break-word;letter-spacing:-0.5px;}
	#content_body #container_bottom2 a:first-child{width:135px;height:35px;line-height:35px;font-size:12px;}
		#content_body #content_container #text_img{width:100%;}
}
@media (min-width : 641px) and (max-width : 1200px){
	#content_wrap{padding:55px 20px 0px;border-top:none;}
	#content_wrap #content_title{padding:30px 0;border-top:2px solid #cdced2;}
	#content_wrap #content_title .news_title{height:100px;font-size:28px;line-height:45px;}
		
	#content_body{margin-top:0;box-sizing:border-box;word-wrap:break-word;letter-spacing:-0.5px;}
	
	#content_body #container_bottom2 a:first-child{width:135px;height:35px;line-height:35px;font-size:12px;}
	#content_body #content_container #text_img{width:100%;}

	
}